div.type-quiz-container {
  text-align: center;
  margin: 50px auto 0;
}

.type-quiz-container-name {
  display: inline-block;
  background-color: rgb(26, 104, 104);
  color: #fff;
  font-size: 1.6em;
  padding: 1em 10em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.5em;
  border-bottom: 0.25em solid #0f5177;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  box-shadow: 3px 3px 3px 3px #ccc;
  position: relative;
  font-weight: bolder;
}

.type-quiz-container-name:hover {
  background-color: #1e9feb;
  border-bottom-width: 0;
  margin-top: 0.2em;
  cursor: pointer;
}
